<div>
    <h2>Authentification</h2>
    <div class="col-lg-4 offset-md-4 mb-3 mt-3">
        <label for="username" class="form-label">Login:</label>
        <input type="text" class="form-control" id="username" placeholder="Saisir votre login" name="username" required="required">
        <label for="pwd" class="form-label">Mot de passe:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Saisir votre mot de passe" name="pwd" required="required">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Se souvenir de moi
        </label>
    </div>
    <button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Se déconnecter</button>
</div>
